.ChecklistForm {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.ChecklistItem {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.ChecklistItem input {
    height: 25px;
    width: 25px;
}