.ChecklistForm {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.ChecklistItem {
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-size: 0.8em;
}

.ChecklistItem input {
    height: 1.5em;
    width: 1.5em;
}

.ChecklistGroup-Title {
    margin: 0;
}